@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-stone-100 dark:bg-black;
}

@font-face {
  font-family: Robotooo;
  src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: insta;
  src: url("/fonts/Instagram Sans.woff");
}

/* scroll bar  */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.skeleton {
  @apply bg-stone-900;
}
